body {
	font-family: Calibri;
}
ul {
	border-style: solid;
	border-width: 1px;
}
ul {
	padding: 12px;
	background-color: white;
	color: black;
	border-radius: 10px;
}
ul li {
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}
ul li a {
	color: black;
}
h1 {
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: 0.5em;
	color: white;
}
p {
	color: white;
}
